#drum-machine {
  background-color: #ef99c1;
  border: 1px solid #ececec;
  border-radius: 4px;
  box-sizing: border-box;
  margin: auto;
  padding: 5px;
  width: 55%;
}

#display {
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 5px;
  min-height: 1em;
  padding: 10px;
  text-align: center;
}

h1 {
  text-align: center;
}

.drum-pad-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;

  > button {
    background-color: #d954a0;
    border-radius: 4px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-size: 1.5em;
    padding: 10px;
  }
}

.clip {
  display: none;
}